body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

header {
	color: #004977;
	font-size: 2.5em;
	text-align: center;
	padding-top: .5em;
	margin: 2%;
}

nav {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin: 1% auto 0% auto;
}

a {
	background-color: rgba(1, 23, 40, 0.75);
	color: #ffffff;
	display: block;
	font-size: 1.25em;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	width: 14%;
	padding: 1.33%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #ffffff;
	border-radius: 4px;
	width: 14%;
	color: #004977;
	font-style: italic;
}

h1 {
	font-weight: 700;
	font-size: 1.5em;
	color: #004977;
}

h2 {
	font-weight: 500;
	font-size: 1.25em;
	color: #004977;
	margin-top: .25em;
}

h3 {
	font-size: .75em;
	color: rgba(1, 23, 40, 0.45);
	margin-top: .35em;
	margin-bottom: 1em;
}

h4 {
	font-weight: 500;
	font-size: 1.5em;
	color: #004977;
	margin-top: .25em;
}

h5 {
	font-weight: 500;
	font-size: 1.25em;
	color: #004977;
	margin-top: .25em;
	margin-bottom: .25em;
}

hr {
	border: none;
	background: #DCD8DB;
	width: 100%;
	height: 2px;
}

.abovenav {
	font-weight: 500;
	text-align: center;
	padding: 1.5em;
	top: 0; 
	left: 0; 
	width: 100%;
}

.featureimage {
	width: 100%;
	text-align: center;
}

.featurestory {
	border-radius: 4px;
	background: #ffffff;
	padding: 1%;
	margin: auto;
	line-height: 1.5em;
}

.newsfeed {
	float: left;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.30);
	padding: 10px;
	width: 21%;
	min-height: 325px;
	padding: 1%;
	margin: 1%;
}

.newsimage {
	width: 100%;
}

.profile {
	display: inline-block;
	float: left;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.30);
	padding: 10px;
	width: 25%;
	height: auto;
	padding: 1%;
	margin: 3%;
	text-align: center;
}

footer {
	clear:both;
	border-radius: 4px;
	background-color: rgba(1, 23, 40, 0.75);
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	padding: 2%;
	margin-top: 1%;
}

@media screen and (max-width: 768px) {
	nav {
		font-size: .85em;
	}

	.newsfeed {
		float: none;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.30);
		width: 80%;
		margin: 2% 15% 5% 10%;
	}

	.newsimage {
		width: 60%;
		padding: 2% 25% 0 20%;
	}

	.profile {
		float: none;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.30);
		width: auto;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	body {
		font-size: 12px;
	}

	nav {
		width: auto;
		margin: 0;
		background-color: #ffffff;
		font-size: 1em;
	}

	a {
		background-color: rgba(1, 23, 40, 0.75);
		color: #ffffff;
		display: block;
		width: auto;
		float: none;
		padding: 1.75%;
		margin: 0;
	}

	a:hover {
		background-color: #ffffff;
		width: auto;
		color: #004977;
		font-style: italic;
		text-align: center;
	}

	.abovenav {
		font-weight: 300;
		font-style: italic;
		text-align: center;
		padding: 1.5em;
		top: 0; 
		left: 0; 
		width: auto;
	}
	
	.abovenav img {
		height: 30%;
		width: 30%;
	}

	.featureimage {
		width: 100%;
		padding: 0;
		margin: auto;
	}
}

